<launch>
    <node name="camera_example" type="camera_examples.py" pkg="webot_examples" output="screen"/>
    <node name="control_example" type="control_example.py" pkg="webot_examples" output="screen"/>
<!-- LiDAR py 파일 추가해야함 -->

    <include file="$(find racecar)/launch/teleop.launch" />
    

</launch>